.d-block{
  background-color:transparent;
  
  height: 80vh;
  padding: 20px;
  width: 100%;    
}

@media screen and (max-width: 960px){

  .d-block{
      background-color: transparent;
      height:  40vh;
      
      padding: 15px;
  }

}